//color variables start here

$darkShade: #000;
$secondaryDarkShade: #2c3837;
$lightShade: #e9e9e9;
$secondaryLightShade: #798486;
$accentShade: #F29B38;


//font variables start here

$titleFont:'Fredoka One', cursive;
$mainFont: "Cabin", Sans-Serif;

//mixins start here

@mixin titleFont {
    color: $darkShade;
    font-size: 2rem;
    line-height: 1.5;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-family: $titleFont;
}

@mixin mainFont {
    color: $darkShade;
    font-size: 1.8rem;
    font-family: $mainFont;
}


html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
    margin: 0;
    padding: 1.5rem 0;
    font-family: $titleFont;
}

p {
    white-space: pre-line;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    font-size: 1.8rem;  
    @include mainFont; 
    margin: 0;
    background: $secondaryDarkShade;
    padding: 2rem 0;
    
    &__content {
        @include titleFont;
        color: $accentShade;
        padding: 2rem;  
    }
}

.btn {
    
    &:hover {
        cursor: pointer;
    }
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}


