//color variables start here

$darkShade: #000;
$secondaryDarkShade: #2c3837;
$lightShade: #e9e9e9;
$secondaryLightShade: #798486;
$accentShade: #deafa7;

//font variables start here

$titleFont:'Fredoka One', cursive;
$mainFont: "Cabin", Sans-Serif;

//mixins start here

@mixin titleFont($size, $lineHeight) {
    color: $darkShade;
    font-size: $size;
    line-height: $lineHeight;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-family: $titleFont;
}

@mixin mainFont($size, $lineHeight) {
    color: $darkShade;
    font-size: $size;
    line-height: $lineHeight;
    font-family: $mainFont;
}


html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
    margin: 0;
    padding: 1.5rem 0;
}

.section {
    font-size: 1.8rem;  
    @include mainFont(1.8rem, 1);
 
}

.btn {
    
    &:hover {
        cursor: pointer;
    }
}