.header {
    height: 100vh;
    background: navajowhite;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 100vh;
    
    }

    .form__search {
        width: 60%;

    }
    .input__search {
        width: 100%;
        line-height: 2;
    }

}

