.header {
    height: 100vh;
    background: $lightShade; 
    @include titleFont(18);

    &__nav {
        height: 10vh;
        width: 100%;
        background: $lightShade;
        z-index: 1;

        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 7rem;

            &__item {                
                img {
                    height: 6rem;
                    margin-top: 1rem;

                    &:hover {
                        animation: shake 2s infinite;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 90vh;
    }

    .form__search {
        width: 60%;
        @include mainFont(18);
        display: flex;

        .input__search {
            width: 100%;
            min-width: 20rem;
            background: $darkShade;
            color: $accentShade;
            padding: 1rem 2rem 1rem 1rem;
            border: none;
            flex-grow: 1;
//TRANSITION THIS
            &:focus {
                background: $accentShade;
                color: $darkShade;
            }
        }
        
        .btn__search {
            width: 30%;
            min-width: 10rem;
            padding: 1rem 1rem;
            background: $lightShade;
            border: 0.2rem solid $darkShade;
            
//TRANSITION THIS
            &:hover {
                background: $darkShade;
                color: $accentShade;
            }
        }
    }
}

@keyframes shake {
    0%    { transform: scale(1); }
    50%  {  transform: scale(1.5);
            margin-top: 3rem; }
    100% {  transform: scale(1);}
}

@media (max-width: 800px) {
    .form__search {
        min-width: 100%;
    }
}

