.section__lyrics {
    background: $lightShade;

    &__content {
        color: $darkShade;
        @include mainFont;

        &__translation {
            display: flex;
            justify-content: space-between;

            &__btn {
                font-family: $titleFont;
                color: $accentShade;
                text-align: center;
                padding-top: 2rem;

                img {
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                }

                & input {
                    display: none;
                }
            }
        }
    }
}

.songLyrics {
    color: $secondaryDarkShade;
    column-count: 2;
    position: relative;
    
    &::after {

    }
}


//ADD IN THE BEFORE AND AFTER QUOTES FOR THE LYRICS (can be in general styling so it happens to the translated as well)