.section__lyrics {
  background: $lightShade;

  &__content {
    color: $darkShade;
    @include mainFont(18);

    .form__language {
      display: flex;
      justify-content: center;
      position: relative;
      flex-wrap: wrap;

      & input {
        opacity: 0;
        position: absolute;     

        &[type="radio"]:checked + label img {
          border: 0.5rem solid $accentShade;
          width: 10.5rem;
          height: 10.5rem;
        }

        &[type="radio"]:checked + label h3 {
          font-family: $titleFont;
        }
      }
      
      .btn__translate {
        margin: 2rem 0 0 0;
        width: 20%;
        min-width: 11rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        &:hover {
          cursor: pointer;
        }
        
        img {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
        }
      }
    }
  }
}

.songLyrics {
  color: $secondaryDarkShade;
  column-count: 2;
  column-gap: 2rem;
  position: relative;

  &::after {
  }
}

@media (max-width: 800px) {
  .songLyrics {
    column-count: 1;
  }
}

@media (max-width: 650px) {
  .wrapper {
    width: 95%;
  }  
  
  .btn__translate {

    h3 {
      display: none;
    }
  }
}
