.section__lyrics {
    background: $lightShade;

    &__content {
        color: $darkShade;
    }

    .lyrics {
        color: $secondaryDarkShade;
    }
}

//ADD IN THE BEFORE AND AFTER QUOTES FOR THE LYRICS (can be in general syling so it happens to the translated as well)