.section__results {
    min-height: 100vh;
    padding: 0;
    
    .mainHeading {
        color: $accentShade;
        border-bottom: solid 1px rgba($lightShade, 0.5);
    }
}    

.list__results {
    column-count: 2;
    column-gap: 2rem;
    padding: 3rem 0;
    line-height: 1;
}
        
.btn__results {
    text-align: left;
    background: none;
    border: none;
    padding-bottom: 2rem;


//NAME A CLASS FOR THESE IN THE JS

    h3 {
        display: inline-block;
        box-orient: vertical;
        margin: 1rem 0 0 0;
    }
    
    h3::after {
        content: '';
        display: block;
        width: 0;
        height: 0.1rem;
        background: rgba($accentShade, 0.5);
        transition: width .5s;
    }

        &:hover h3::after {
        width: 100%;
        transition: width .5s;
    }

    p {
        color: $lightShade;
        font-size: 1.6rem;
        display:inline-block;
        margin: 0.5rem 0;
        
    }

    p::after {
        content: '';
        display: block;
        width: 0;
        height: 0.1rem;
        background: rgba($lightShade, 0.5);
        transition: width .5s;
    }

        &:hover p::after {
        width: 100%;
        transition: width .5s;
    }                
}

@media (max-width: 650px) {

    .list__results {
        column-count: 1;
    }
}