.list__results {
    display: flex;
    flex-wrap: wrap;
        
    &__item {
        width: 50%;
    }
}
        
.btn__results {
    text-align: left;
    background: none;
    border: none;
    padding: 1rem 0;
    color: $accentShade;

//NAME A CLASS FOR THESE IN THE JS
// ANIMATE TO GROW THE UNDERLINE

    h3 {
        display: inline-block;
        margin-right: 25%;      
    }
    
    h3::after {
        content: '';
        display: block;
        width: 0;
        height: 0.2rem;
        background: $accentShade;
        transition: width .5s;
    }

        &:hover h3::after {
        width: 100%;
        transition: width .5s;
    }

    p {
        color: $lightShade;
        font-size: 1.6rem;
        display:inline-block;
    }

    p::after {
        content: '';
        display: block;
        width: 0;
        height: 0.2rem;
        background: $lightShade;
        transition: width .5s;
    }

        &:hover p::after {
        width: 100%;
        transition: width .5s;
    }    

    // h3 {
    //     display: inline-block;
    //     margin-right: 25%;      
    // }
   
            
    

    
}